# **Youtube earnings prediction project**
---

## **Problem Statement**

The success of content creators on YouTube is often associated with various factors such as the number of views, engagement metrics, and the audience's demographics. This project seeks to develop a predictive model that estimates a YouTuber's earnings based on key performance indicators and other relevant factors. The goal is to provide content creators and stakeholders with a tool that offers insights into potential earnings, aiding in strategic decision-making and content optimization.

---

## **Main Objective**
Develop a robust and accurate linear regression model to predict YouTube earnings for content creators, leveraging key performance indicators and relevant factors, in order to empower content creators with actionable insights for optimizing their content strategy and maximizing revenue on the YouTube platform.

---

### Specific Objectives
1. **Exploratory Data Analysis:** Perform EDA on the data to better understand the dataset. Clean and preprocess the dataset to handle missing values, outliers, and any other data inconsistencies.
2. **Feature Selection:** Identify and select the most significant independent variables that have a significant impact on earnings. 
3. **Model Development:** Apply linear regression modeling techniques to establish a relationship between the chosen independent variables and YouTube earnings.
4. **Assess Model Perfomance:** Estimate and Interprate the co-efficient of the significant predictor variables
5. **Interpretation of Results:** Interpret the coefficients of the regression model to understand the relative importance of each independent variable in predicting YouTube earnings. Provide insights into the factors that most strongly influence earnings.

---

## **Details on the Data set**

 This meticulously curated dataset unveils the statistics of the most subscribed YouTube channels. A collection of YouTube giants, this dataset offers a perfect avenue to analyze and gain valuable insights from the luminaries of the platform. With comprehensive details on top creators' subscriber counts, video views, upload frequency, country of origin, earnings, and more.

### **Description of columns:**
---
**rank:** Position of the YouTube channel based on the number of subscribers

**Youtuber:** Name of the YouTube channel

**subscribers:** Number of subscribers to the channel

**video views:** Total views across all videos on the channel

**category:** Category or niche of the channel

**Title:** Title of the YouTube channel

**uploads:** Total number of videos uploaded on the channel

**Country:** Country where the YouTube channel originates

**Abbreviation:** Abbreviation of the country

**channel_type:** Type of the YouTube channel (e.g., individual, brand)

**video_views_rank:** Ranking of the channel based on total video views

**country_rank:** Ranking of the channel based on the number of subscribers within its country

**channel_type_rank:** Ranking of the channel based on its type (individual or brand)

**video_views_for_the_last_30_days:** Total video views in the last 30 days

**lowest_monthly_earnings:** Lowest estimated monthly earnings from the channel

**highest_monthly_earnings:** Highest estimated monthly earnings from the channel

**lowest_yearly_earnings:** Lowest estimated yearly earnings from the channel

**highest_yearly_earnings:** Highest estimated yearly earnings from the channel

**subscribers_for_last_30_days:** Number of new subscribers gained in the last 30 days

**created_year:** Year when the YouTube channel was created

**created_month:** Month when the YouTube channel was created

**created_date:** Exact date of the YouTube channel's creation

**Gross tertiary education enrollment (%):** Percentage of the population enrolled in tertiary education in the country

**Population:** Total population of the country

**Unemployment rate:** Unemployment rate in the country

**Urban_population:** Percentage of the population living in urban areas

**Latitude:** Latitude coordinate of the country's location

**Longitude:** Longitude coordinate of the country's location

In [3]:
# Adding necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('Global YouTube Statistics (1).csv', encoding='latin-1', index_col=0)

In [5]:
df.head()

,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
rank,,,,,,,,,,,,,,,,,,,,,
1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [6]:
df.tail()

,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
rank,,,,,,,,,,,,,,,,,,,,,
991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,525.0,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,6141.0,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,129005.0,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,35112.0,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,4568.0,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
subscribers,995.0,2.298241e+07,1.752611e+07,1.230000e+07,1.450000e+07,1.770000e+07,2.460000e+07,2.450000e+08
video views,995.0,1.103954e+10,1.411084e+10,0.000000e+00,4.288145e+09,7.760820e+09,1.355470e+10,2.280000e+11
uploads,995.0,9.187126e+03,3.415135e+04,0.000000e+00,1.945000e+02,7.290000e+02,2.667500e+03,3.013080e+05
video_views_rank,994.0,5.542489e+05,1.362782e+06,1.000000e+00,3.230000e+02,9.155000e+02,3.584500e+03,4.057944e+06
country_rank,879.0,3.860535e+02,1.232245e+03,1.000000e+00,1.100000e+01,5.100000e+01,1.230000e+02,7.741000e+03
channel_type_rank,962.0,7.457193e+02,1.944387e+03,1.000000e+00,2.700000e+01,6.550000e+01,1.397500e+02,7.741000e+03
video_views_for_the_last_30_days,939.0,1.756103e+08,4.163782e+08,1.000000e+00,2.013750e+07,6.408500e+07,1.688265e+08,6.589000e+09
lowest_monthly_earnings,995.0,3.688615e+04,7.185872e+04,0.000000e+00,2.700000e+03,1.330000e+04,3.790000e+04,8.509000e+05
highest_monthly_earnings,995.0,5.898078e+05,1.148622e+06,0.000000e+00,4.350000e+04,2.127000e+05,6.068000e+05,1.360000e+07
lowest_yearly_earnings,995.0,4.422574e+05,8.612161e+05,0.000000e+00,3.265000e+04,1.595000e+05,4.551000e+05,1.020000e+07
highest_yearly_earnings,995.0,7.081814e+06,1.379704e+07,0.000000e+00,5.217500e+05,2.600000e+06,7.300000e+06,1.634000e+08
subscribers_for_last_30_days,658.0,3.490791e+05,6.143554e+05,1.000000e+00,1.000000e+05,2.000000e+05,4.000000e+05,8.000000e+06
created_year,990.0,2.012630e+03,4.512503e+00,1.970000e+03,2.009000e+03,2.013000e+03,2.016000e+03,2.022000e+03
created_date,990.0,1.574646e+01,8.777520e+00,1.000000e+00,8.000000e+00,1.600000e+01,2.300000e+01,3.100000e+01
Gross tertiary education enrollment (%),872.0,6.362775e+01,2.610689e+01,7.600000e+00,3.630000e+01,6.800000e+01,8.820000e+01,1.131000e+02
Population,872.0,4.303873e+08,4.727947e+08,2.025060e+05,8.335541e+07,3.282395e+08,3.282395e+08,1.397715e+09
Unemployment rate,872.0,9.279278e+00,4.888354e+00,7.500000e-01,5.270000e+00,9.365000e+00,1.470000e+01,1.472000e+01
Urban_population,872.0,2.242150e+08,1.546874e+08,3.558800e+04,5.590832e+07,2.706630e+08,2.706630e+08,8.429340e+08
Latitude,872.0,2.663278e+01,2.056053e+01,-3.841610e+01,2.059368e+01,3.709024e+01,3.709024e+01,6.192411e+01
Longitude,872.0,-1.412815e+01,8.476081e+01,-1.721046e+02,-9.571289e+01,-5.192528e+01,7.896288e+01,1.382529e+02

In [8]:
df.shape

(995, 27)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 995 entries, 1 to 995
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Youtuber                                 995 non-null    object
 1   subscribers                              995 non-null    int64
 2   video views                              995 non-null    float64
 3   category                                 949 non-null    object
 4   Title                                    995 non-null    object
 5   uploads                                  995 non-null    int64
 6   Country                                  873 non-null    object
 7   Abbreviation                             873 non-null    object
 8   channel_type                             965 non-null    object
 9   video_views_rank                         994 non-null    float64
 10  country_rank                             879 non-null    float64
 11  channel_type_rank                        962 non-null    float64
 12  video_views_for_the_last_30_days         939 non-null    float64
 13  lowest_monthly_earnings                  995 non-null    float64
 14  highest_monthly_earnings                 995 non-null    float64
 15  lowest_yearly_earnings                   995 non-null    float64
 16  highest_yearly_earnings                  995 non-null    float64
 17  subscribers_for_last_30_days             658 non-null    float64
 18  created_year                             990 non-null    float64
 19  created_month                            990 non-null    object
 20  created_date                             990 non-null    float64
 21  Gross tertiary education enrollment (%)  872 non-null    float64
 22  Population                               872 non-null    float64
 23  Unemployment rate                        872 non-null    float64
 24  Urban_population                         872 non-null    float64
 25  Latitude                                 872 non-null    float64
 26  Longitude                                872 non-null    float64
dtypes: float64(18), int64(2), object(7)
memory usage: 217.7+ KB